<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<p>This is the humble beginnings of open source science. All who wish to learn will need only to read and participate. The Ivory tower will no longer keep the fruits of knowledge from the masses.</p>
